/* reset */
* {
    margin: 0;
    padding: 0;
}

input,button{
    outline: none;
    border: none;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

/* 整体样式 */
.song_box {
    width: 640px;
    height: 650px;
    border: 1px solid #31c27c;
    margin: 0 auto;
    margin-top: 20px;
}
.song_box h2 {
    margin: 30px 0 10px;
    margin-left: 70px;
}



/* 搜索部分样式 */
.search {
    position: relative;
    width: 490px;
    height: 110px;
    border: 1px solid #31c27c;
    margin: 0 auto;

}
.search input {

    background: #eee;
    border:none;
    padding: 12px 15px;
    width: 200px;
    height: 10px;
}
.search .singer {
    display: block;
}
.search .singer,.search .song{
    margin-left: 5px;
}
.search .singer input{
    margin-top: 16px;
    margin-bottom: 10px;
}
.search .add {
    position: absolute;
    right: 5px;
    top: 34px;
}
button {
    border-radius:2px;
    border:1px solid #31c27c;
    background: #31c27c;
    color: #fff;
    font-size: 14px;
    font-weight:bold;
    padding: 11px 44px;
    letter-spacing: 2px;

    cursor: pointer;
}



/* 列表获取部分样式 */
.getlist{
    position: relative;
    width: 490px;
    margin: 0 auto;
}

.getlist h2 {
    margin: 25px 0 10px;
}

.getlist .get {
    position: absolute;
    right: 5px;
    top: -15px;
}

.getlist .content{
    width: 490px;
    height: 340px;
    /* border: 1px solid #31c27c; */
    margin: 0 auto;
}

.getlist ul {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-align: center; 
}

.getlist ul .page {
    display: flex;
    justify-content: center;
}
.getlist ul li {

    width: 75px;
    height: 28px;
    line-height: 25px;
    border-radius:2px;
    border:1px solid #31c27c;
    background: #31c27c;
    color: #fff;

    cursor: pointer;
}


.getlist ul li a {
    display: block;
    cursor: pointer;
}


table{    
    border-collapse: collapse;
    margin: auto;
}
tr:nth-child(odd){
    background-color: #F7F7F7;
}
tr:nth-child(even){
    background-color: #FFFFFF;
    
}

td{
    text-align: center;
    width: 165px;
    height: 48.5px;
}
td:nth-child(1), table tr:nth-child(1){
    font-weight: 700;
}